.table {
  padding: 4px;
  /* border: solid 1px black; */
}

.row {
  display: flex;
  padding: 4px;

}

.row-body {
  display: flex;

}

.row-header {
  width: 60px;
  text-align: right;
  padding-right: 4px;
}

.player-cell {
  /* background-color: burlywood; */
  padding: 2px;
  width: 52px;
}

.cell-input {
  padding: 0 2px;
}