.table {
  /* border: solid 1px black; */
  display: grid;
  grid-template-rows: repeat(1fr);

}

.row {
  display: grid;
  padding: 4px;
  /* border: solid 1px red; */
  grid-template-rows: auto;
  grid-template-columns: auto auto;

}

.row-body {
  display: flex;

  justify-content: space-around;
}

.row-header {
  width: 70px;
  text-align: right;
}

.player-cell {
  /* background-color: burlywood; */
  padding: 2px;
}